body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #111111;
  text-rendering: geometricPrecision;
}
*, *:before, *:after {
  box-sizing: border-box;
}
h1, h2, h3, h4 {
  margin: 0;
}
input {
  padding: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 4rem;
  font-weight: 700;
  color: #fff;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.2;
}